body {
    /* top-bottom 60px; right-left auto */
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


a{
    text-decoration: none;
    color: #339;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    /* top | right | bottom | left */w
    margin: 2px 0 0 0;
}

p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

footer {
    border-top: 1px solid;
    font-size: .8em;
}

ul.posts { 
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
}
