<!DOCTYPE html>
<html>
	<head>
		<title>Gemma Boleda</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<li><a href="/pubs">publications</a></li>
 	        	<li><a href="/resources.html">resources</a></li>
			<li><a href="/0-cv.pdf">CV</a></li>
 	        	<li><a href="/quotes.html">quotes</a></li>
 	        	<li><a href="/misc.html">misc</a></li>
	        	<li><a href="/bio.html">bio</a></li>
	        	<li><a href="/contact.html">contact</a></li>
			<!--<li><a href=""></a></li>-->
    		</ul>
		</nav>
		<div class="container">
			
		{{ content }}
			
		</div><!-- /.container -->    
    		<footer>
	    		<ul>
	        	  <li>firstname.lastname@upf.edu</li>
			  <li><a href="https://scholar.google.com/citations?user=NFJ9kUEAAAAJ">scholar</a></li>
			  <li><a href="https://github.com/gboleda/">https://github.com/gboleda/</a></li>
				</ul>
			</footer>
		</body>
	</html>

