<!DOCTYPE html>
<html>
	<head>
		<title>Gemma Boleda</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/pubs">Publications</a></li>
<!--	        	<li><a href="/pubs">Publications</a></li> -->
<!-- 	        	<li><a href="/pubs">Resources</a></li>-->
	        	<!-- <li><a href="/pubs">Bio</a></li> -->
<!-- 	        	<li><a href="/pubs">Quotations</a></li>-->
    		</ul>
		</nav>
		<div class="container">
			
		{{ content }}
			
		</div><!-- /.container -->    
    		<footer>
	    		<ul>
	        		<li>firstname.lastname@upf.edu</li>
				</ul>
			</footer>
		</body>
	</html>

